<div class="parallax__body" #body>
    <div class="parallax__container _content-wrap">
        <div class="parallax__logo"></div>
    </div>
    <div class="parallax__images images-parallax">
        <div class="images-parallax__item">
            <div class="images-parallax__clouds" #clouds></div>
        </div>
        <div class="images-parallax__item">
            <div class="images-parallax__mountains" #mountains></div>
        </div>
        <div class="images-parallax__item">
            <div class="images-parallax__human" #human></div>
        </div>
    </div>
</div>
<div class="content">
    <app-cv></app-cv>
</div>