.parallax {

    &__body {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__container {
        position: sticky;
        display: flex;
        justify-content: center;
        z-index: 10;
        top: 5%;
    }

    &__logo {
        max-width: 320px;
        background: url('/assets/parallax/i9nlogo2.svg');
        background-size: 120% 120%;
        background-position: 0 80%;
        width: 100%;
        height: 300px;
        z-index: 100;
    }

    &__label {
        color: #fbd784;
        display: flex;
        font-size: 18px;
        letter-spacing: 6px;
        margin: 0px 0px 30px 0px;
        align-items: center;
        @media (max-width:1300px) {
            font-size: 14px;
        }
    }

    &__label::before{
        flex: 0 0 70px;
        margin: 0px 30px 0px 0px;
        background-color: #fbd784;
        height: 1px;
        content: "";
        letter-spacing: 6px;
        @media (max-width:1300px) {
            flex: 0 0 30px;
        }
    }

    &__title {
        font-size: 88px;
        color: white;
        @media (max-width:1300px) {
            font-size: 44px;
        }
    }

    &__images {
        position: absolute;
        width: 120%;
        height: 120%;
        top: -10%;
        left: -10%;
        z-index: 1;
    }
}
.images-parallax {

    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &__clouds,
    &__mountains,
    &__human {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    }

    &__clouds{
        background: url('/assets/parallax/bek1440r-2.png');
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: 120%;
        z-index: 2;
        top: 0;
    }

    &__mountains{
        background: url('/assets/parallax/bek_nizhniy_1440r.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // &__human{
    //     background: url('/assets/human.png') top / cover no-repeat;
    //     top: 45%;
    //     z-index: 3;
    //     @media(max-aspect-ratio:3/2){
    //         background-position: 20% top;
    //     }
    // }
}

.content {
    position: relative;
}