@import "./app/styles/index.scss";
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

li{
    list-style: none;
}

html{
    min-width: 320px;
    background: black;
}

body._lock{
    overflow: hidden;
}
  
  [class^="_icon-"]::before, 
  [class*=" _icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 5px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-telegram:before {
    content: "\e900";
    position: relative;
    top: 2px;
  }
  ._icon-mail:before {
    content: "\e901";
    position: relative;
    top: 2px;
  }
  ._icon-phone:before {
    content: "\e902";
  }

.owl-next {
  color: white !important;
  margin: 0px !important;
  height: 50px;
  width: 70px;
  font-size: 40px !important;
  background: rgba(0, 0, 0, 0.342) !important;

  &:hover {
    color: $accent_darkest !important;
  }
}

.owl-prev {
  color: white !important;
  margin: 0px !important;
  height: 50px;
  width: 70px;
  font-size: 40px !important;
  background: rgba(0, 0, 0, 0.342) !important;

  &:hover {
    color: $accent_darkest !important;
  }
}

.owl-nav {
  display: flex;
  justify-content: space-between !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 90vh;
}

.swiper-slide img {
  display: block;
  height: auto;
  width: 100%;
  height: 90vh;
  object-fit: cover;

  
}